


// =============== Examples ===============
// sweetalert2 start
$swal2-error: $red;
$swal2-warning: $yellow;
$swal2-info: $blue;
// $swal2-question: #87adbd;
// sweetalert2 end

// react-datepicker start
$datepicker__background-color: #f8f8f8;
$datepicker__border-color: $input-border-color;
$datepicker__selected-color: $primary;
$datepicker__border-radius: $input-border-radius-sm;
$table-cell-vertical-align: middle !default;
// react-datepicker end
